<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hw5 喔齁：）</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/style.css">
  </head>
<body>
  <!-- title -->

    <h1>Homework5 A6Z</h1>

  <!-- contain -->
  <% for(var i=0; i<img.length; i++) { %>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <img class="img-responsive" src="assets/img/<%=img[i] %>.jpg">
      <div class="aaa">
        <h2><%= title[i] %></h2>
      </div>
    </div>
  <%}%>
  <!-- <footer>

	</footer> -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>
